.app-header {
  padding: 20px;
}

.routes {
  display: flex;
}

.bus-card {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.bus-card-title, .bus-card-sub-title {
 margin-bottom: 0px;
}

.bus-card-route-title {
  font-size: 17px;
}
.bus-card-route-description {
  font-size: 13px;
}
.bus-card-contents {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
